{%- extends "base.html" -%}

{% block head %}
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
{% endblock %}

{% block content_classes %}index{% endblock %}

{% block before_content %}
    <section class="slider">
        <div class="row">
            <div class="columns large-12">
                <section class="image-holder">
                    <img src="/static/dist/images/main/man.jpg" alt=""/>

                    <div class="text-block">
                        <div class="text-data">
                            <div class="animate title first-line">
                                <span class="text">
                                    Скользит пол
                                </span>
                                <span class="sign">
                                    ?
                                </span>
                            </div>
                            <div class="animate title second-line">
                                <span class="text">
                                    У нас есть решение
                                </span>
                                <span class="sign">
                                    !
                                </span>
                            </div>
                            <div class="info">
                                <div class="line-1 animate">
                                    Уникальное противоскользящее покрытие!
                                </div>
                                <div class="line-2 animate">
                                    Успейте купить по уникальной цене от производителя — всего <strong>800 руб.</strong>
                                    за литр!
                                </div>
                            </div>
                            <a class="more button animate anchor-link" href="#counter">
                                Узнать больше &darr;
                            </a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>

    <section class="up-counter-line" id="counter">
        <div class="row">
            <div class="column large-12">
                <a class="mmodal image-holder" href="{% url 'skol:request' %}?sostav=1">
                    <img src="/static/images/main/sostav.png" alt="Состав противоскольжения"/>
                </a>

                Акция: цена от производителя! <br>
                При заказе сейчас цена составит <span class="old-price">1200 руб.</span> <span class="new-price">800 рублей</span> за литр!
            </div>
        </div>
    </section>

    <section class="counter-line">
        <div class="row">
            <div class="column large-12">

                <form class="form">
                    <div class="row">
                        <div class="column large-4">
                            <input type="text" class="name" name="RequestForm[name]" placeholder="Ваше имя"/>
                        </div>
                        <div class="column large-4">
                            <input type="text" class="phone" name="RequestForm[phone]" placeholder="Ваш телефон"/>
                        </div>
                        <div class="column large-4">
                            <button type="submit" class="button">
                                Отправить заявку
                            </button>
                        </div>
                    </div>
                </form>

                <div class="counter-block">
                    <div class="title">
                        До конца акции осталось:
                    </div>
                    <div class="counter-holder">
                        <div class="clock-data"></div>
                    </div>
                    <div class="descriptions">
                        <div class="days">
                            дней
                        </div>
                        <div class="hours">
                            часов
                        </div>
                        <div class="minutes">
                            минут
                        </div>
                        <div class="seconds">
                            секунд
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="about" id="about">
        <div class="row">
            <div class="column large-6">
                {#<div class="title-h2">О компании</div>#}

                {#<div class="about-text">#}
                {#<p>#}
                {#Существуют две основных трактовки понятия «текст»: «имманентная» (расширенная, философски#}
                {#нагруженная) и «репрезентативная» (более частная).#}
                {#</p>#}

                {#<p>#}
                {#Имманентный подход подразумевает отношение к тексту как к автономной реальности, нацеленность на#}
                {#выявление его внутренней структуры. Репрезентативный — рассмотрение текста как особой формы#}
                {#представления знаний о внешней тексту действительности.#}
                {#</p>#}

                {#<p>#}
                {#Существуют две основных трактовки понятия «текст»: «имманентная» (расширенная, философски#}
                {#нагруженная) и «репрезентативная» (более частная). Имманентный подход подразумевает отношение к#}
                {#тексту как#}
                {#</p>#}
                {#</div>#}

                {#<a href="#" class="more">Узнать подробнее</a> или#}
                {#<a class="button">Заказать сейчас</a>#}

                <div class="title-h2">Частые вопросы</div>

                <div class="lines">
                    <div class="line number">
                        <div class="number-holder">1</div>
                        <div class="upper">Какие покрытия подходят?</div>
                        <div class="lower">
                            Практически все виды каменных покрытий (плитка, грант, керамогранит, мозаичные покрытия и т.
                            д.),
                            а также некоторые виды наливных полов
                        </div>
                    </div>

                    <div class="line number">
                        <div class="number-holder">2</div>
                        <div class="upper">Портится ли покрытие?</div>
                        <div class="lower">
                            Нет, так как состав не проникает глубоко, а образует защитную пленку, за счет чего ваше
                            покрытие прослужит даже дольше!
                        </div>
                    </div>

                    <div class="line number">
                        <div class="number-holder">3</div>
                        <div class="upper">Как долго работает состав?</div>
                        <div class="lower">
                            Срок службы состава после нанесения составляет <br/>до 24 месяцев!
                        </div>
                    </div>
                </div>
            </div>
            <div class="column large-6">
                <div class="title-h2">Наши преимущества</div>

                <div class="line rst">
                    <div class="upper">Высокое качество продукции</div>
                    <div class="lower">Подтверждено всеми необходимыми сертификатами.</div>
                </div>
                <div class="line rub">
                    <div class="upper">Самые низкие цены в России</div>
                    <div class="lower">Производство на территории России позволяет не зависеть от курса валют.</div>
                </div>
                <div class="line supply">
                    <div class="upper">Быстрая доставка в любой регион России</div>
                    <div class="lower">Ставрополь, Екатеринбург, Пермь, Крым, Красноярск, Нижний Новгород, Казань, Киров
                        и
                        другие.
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="column large-12">
                <div class="give-me text-center">
                    <span class="interested">
                        Заинтересовало?
                    </span>
                    <a href="{% url 'skol:request' %}?sostav=1" class="mmodal button">
                        Заказать!
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="stripped actions" id="actions">
        <div class="text-center title-h2">Скидки и акции</div>

        <div class="row">
            <div class="column large-12">
                <div class="action-slides">
                    {% for action in get_actions() %}
                        <div class="action-slide">
                            <div class="row">
                                <div class="column large-3">
                                    <div class="image-holder">
                                        <img src="{{ action.image.url_preview }}" alt="{{ action.name }}"/>
                                    </div>
                                </div>
                                <div class="column large-9">
                                    <div class="line">
                                        <div class="upper">
                                            {{ action.name }}
                                        </div>
                                        <div class="lower">
                                            {{ action.info }}
                                        </div>
                                    </div>
                                    <a class="button mmodal" href="{% url 'skol:request' %}?sostav=1">Заказать сейчас</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $(function () {
                $('.action-slides').slick();
            })
        </script>
    </section>

    <section class="reviews" id="reviews">
        <div class="text-center title-h2">Отзывы наших клиентов</div>

        <div class="row">
            <div class="column large-6">
                <div class="review">
                    <div class="review-head clearfix">
                        <div class="image-holder left">
                            <img src="/static/images/main/user1.jpg" alt=""/>
                        </div>


                        <div class="review-head-data">
                            <div class="username">
                                Александр Лобастов
                            </div>
                            <div class="role">
                                ОАО "Слободской машиностроительный завод"
                            </div>
                        </div>
                    </div>
                    <p class="clear"></p>

                    <div class="review-content">
                        Составом противоскольжения обработаны помещения завода. Сначала отнеслись скептически - сработает ли?
                        Но после обработки все вопросы отпали - состав действительно работает!
                        Теперь в любую погоду не переживаем за себя и своих клиентов.
                    </div>
                </div>
            </div>
            <div class="column large-6">
                <div class="review">
                    <div class="review-head clearfix">
                        <div class="image-holder left">
                            <img src="/static/images/main/user2.jpg" alt=""/>
                        </div>


                        <div class="review-head-data">
                            <div class="username">
                                Евгений Устюжанинов
                            </div>
                            <div class="role">
                                Компания "Салют №1"
                            </div>
                        </div>
                    </div>
                    <p class="clear"></p>

                    <div class="review-content">
                        Обработали крыльцо - не скользит. Ну совсем не скользит. Просто магия какая-то.
                        До этого было очень страшно ходить - теперь можно хоть в футбол на крыльце играть!
                        Просто чудесный состав и прекрасная компания!
                    </div>
                </div>
            </div>
        </div>

        <div class="row more-holder">
            <div class="column large-12 text-center">
                <a class="inv button" href="{% url 'skol:clients' %}">Смотреть всех клиентов &rarr;</a>
            </div>
        </div>
    </section>

    <section class="stripped catalog" id="catalog">
        <div class="text-center title-h2">Лучшие предложения из каталога</div>

        <div class="row">
            <div class="column large-12">
                <ul class="large-block-grid-4">
                    {% for product in get_products() %}
                        <li>
                            {% include 'catalog/_view.html' %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="row more-holder">
            <div class="column large-12 text-center">
                <a class="inv button" href="{% url 'catalog:list' %}">Смотреть весь каталог &rarr;</a>
            </div>
        </div>

    </section>

    <section class="blog" id="blog">
        <div class="text-center title-h2">Последние записи в блоге</div>

        <div class="row">
            <div class="column large-12">
                <ul class="large-block-grid-3">
                    {% for page in get_pages(2, 3, 0, ['-published_at']) %}
                        <li>
                            <div class="blog-item line">
                                <div class="upper">{{ page.name }}</div>
                                <div class="time">{{ page.published_at|date('d.m.Y') }}</div>
                                <div class="lower">{{ page.content_short }}</div>
                                <a href="{{ page.absoluteUrl }}">Читать дальше</a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>

        </div>

        <div class="row more-holder">
            <div class="column large-12 text-center">
                <a class="inv button" href=/blog>Смотреть все статьи блога &rarr;</a>
            </div>
        </div>

    </section>

    <section class="map" id="contacts">
        <div class="holder">

            <div class="row">
                <div class="column large-12">
                    <div class="card">
                        <div class="info">
                            <div class="text-center title-h2">Контакты</div>
                            <div class="line phone">
                                <strong>+7 (912) 821-44-41</strong><br/>
                                <a class="mmodal" href="{% url 'skol:request' %}">Заказать обратный звонок</a>
                            </div>
                            <div class="line address"> г. Киров, ул. Сурикова, д. 19</div>
                            <div class="line mail">
                                skoljeniya.net@mail.ru<br/>
                                <a href="mailto:skoljeniya.net@mail.ru">Напишите нам</a>
                            </div>
                            <div class="line schedule">
                                Пн-Сб с 9:00 до 18:00
                            </div>
                        </div>

                        <div class="foot">
                            <div class="net">
                                Мы в соц. <br/>сетях:
                            </div>
                            <a class="fb" target="_blank" href="http://fb.com"><i class="social-facebook-circle"></i></a>
                            <a class="vk" target="_blank" href="http://vk.com"><i class="social-vk-circle"></i></a>
                            <a class="tw" target="_blank" href="http://twitter.com"><i class="social-twitter-circle"></i></a>
                            <a class="yt" target="_blank" href="http://youtube.com"><i class="social-youtube-circle"></i></a>
                        </div>
                        {#1. выглядит не очень, потому что размеры иконок странные#}
                        {#2. не нашёл круглых иконок yt и vk. где вообще их искать? в смысле, как они называются. беспредел.#}
                        {#3. или тупо какой-нибудь social можно подключить?#}

                    </div>
                </div>
            </div>
            <div id="map"></div>
        </div>

    </section>

{% endblock %}

{% block content %}

    {#<article class="page">#}
    {#{{ model.content|raw }}#}
    {#</article>#}

{% endblock %}

{% block after_content %}

{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(function () {
            var clock = new FlipClock($('.clock-data'), {
                'clockFace': 'DailyCounter',
                'countdown': true
            });

            clock.setTime('{{ 'next sunday'|strtotime - 'now'|strtotime }}');
            clock.start();

            $('.counter-line form').on('submit', function (e) {
                e.preventDefault();
                var $form = $(this);
                $.ajax({
                    'url': '/skol/request?sostav=1',
                    'data': $(this).serialize(),
                    'type': 'post',
                    'success': function (data) {
                        $form.find('input').val('');
                        $(data).mmodal();
                    }
                })
                return false;
            });

            function priceHighliter(count_letters){
                console.log('highlight');
                var timer = 70;
                var secs = 0;
                for (var i=0;i<count_letters;i++){
                    secs+=timer;
                    setTimeout("$('#phone-letter-"+ i + "').css('opacity','0.1')", secs);
                    setTimeout("$('#phone-letter-"+ i + "').css('opacity','1')", secs+timer);
                }
            }

            var phone = $('.new-price').text();
            var inside = '';
            var count_letters = 0;
            for (var i in phone){
                var letter = phone[i];
                if (typeof letter == 'function') {
                    continue;
                }
                if (letter == ' '){
                    inside += letter;
                }else{
                    inside += '<span id="phone-letter-'+count_letters+'">'+letter+'</span>';
                    count_letters++;
                }

            }
            $('.new-price').html(inside);

            setInterval(function(){
                priceHighliter(count_letters);
            }, 5000)
        });

        ymaps.ready(init);
        var myMap;

        function init(){
            myMap = new ymaps.Map("map", {
                center: [58.588257, 49.6359769],
                zoom: 16,
                controls: ["zoomControl"]
            });
            myMap.behaviors.disable('scrollZoom');

            myPlacemark = new ymaps.Placemark([58.588257, 49.6359769], {
                hintContent: 'Скольжения.нет',
                balloonContentHeader: 'Основной офис компании',
                balloonContent: 'Киров, ул. Сурикова 19<br/>+7 (912) 821-44-41'
            }, {
                iconLayout: 'default#image',
                iconImageHref: '/static/images/main/placemark.png',
                iconImageSize: [60, 51],
                iconImageOffset: [-10, -55]
            });

            myMap.geoObjects.add(myPlacemark);
        }
    </script>
    </script>
{% endblock %}