.mmodal-container {
  .mmodal-close {
    font-size: 24px;
    top: 12px;
    right: 14px;
  }

  .mmodal-content {
    padding: 0;
  }
}

.mmodal-container .request-form.sostav {
  padding-left: 130px;
  background: transparent url('../images/main/sostav.png') 10px 10px no-repeat;
  min-height: 235px;
}